<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0 - 65535.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <!--<setting name="TNS_ADMIN" value="C:\ORACLE\product\11.2.0\dbhome_1\NETWORK\ADMIN" />-->
        <!--Oracle Client 설치되어 있지 않은 경우 아래처럼 추가 가능<dataSources>
          <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
        </dataSources>-->
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--INTERVAL 단위: 초-->
    <add key="INTERVAL" value="30" />
    <add key="FACTORY" value="FAB2" />
    <add key="DATA_PATH" value="D:\QueryLog\File" />
    <add key="BACKUP_PATH" value="D:\QueryLog\File"/>
    <add key="ERROR_PATH" value="D:\QueryLog\File"/>
    <add key="LOG_PATH" value="D:\QueryLog" />
    <add key="LOG_LEVEL" value="0" />
    <add key="USE_TQC_SERVICE_LOG" value="true" />
    <add key="TEST_CONNECT_ID" value="DMSMGR" />
    <add key="QMS_CONNECT_ID" value="DMSMGR" />
	<add key="SLEEP_TIME" value="1000" />
  </appSettings>
</configuration>
