################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/00_Solution/DACrux2015wc/.vs/DACrux2015wc
/00_Solution/DACrux2015wc_Core/.vs/DACrux2015wc
