<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="7515">
          <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown mode="SingleCall" type="DACrux.SEMDMS.BSL.SEMConfiguration, DACrux.SEMDMS.BSL" objectUri="DACrux.SEMDMS.BSL.SEMConfiguration.bin" />
        <wellknown mode="SingleCall" type="DACrux.SEMDMS.BSL.DefectMapAnalysis, DACrux.SEMDMS.BSL" objectUri="DACrux.SEMDMS.BSL.DefectMapAnalysis.bin" />
      </service>
    </application>
    <customErrors mode="Off" />
  </system.runtime.remoting>
  <appSettings>
    <add key="MIRACOM_DACRUX_DMS" value="DACrux.SEMDMS.Service.exe.config"></add>
    <add key="DMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="MES_CONNECT_ID" value="BUMPMES"></add>
  </appSettings>
</configuration>