<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0 - 65535.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <!--<setting name="TNS_ADMIN" value="C:\ORACLE\product\11.2.0\dbhome_1\NETWORK\ADMIN" />-->
        <!--Oracle Client 설치되어 있지 않은 경우 아래처럼 추가 가능<dataSources>
          <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
        </dataSources>-->
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="7513">
          <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <!--New-->
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.DataSelect, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.DataSelect.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.ProbeAdmin, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.ProbeAdmin.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.ProbeMapAnalysis, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.ProbeMapAnalysis.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.VisualInspection, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.VisualInspection.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.TestCommon, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.TestCommon.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.TestDataMaint, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.TestDataMaint.bin" />
        <!--Old-->
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.ADMIN_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.ADMIN_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.MAPANALYSIS_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.MAPANALYSIS_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.YIELD_ANALYSIS, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.YIELD_ANALYSIS.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.Commonality, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.Commonality.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.INLINEANALYSIS_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.INLINEANALYSIS_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.MAINTENANCE_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.MAINTENANCE_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.PCMANALYSIS, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.PCMANALYSIS.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.SECURITY, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.SECURITY.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.MERGE_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.MERGE_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.VIEW_LOT_DATA, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.VIEW_LOT_DATA.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.GOLDEN_CHECK, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.GOLDEN_CHECK.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.MAKE_MAP, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.MAKE_MAP.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.OUTPUT_MAP, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.OUTPUT_MAP.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.PARSER, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.PARSER.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.COMMON, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.COMMON.bin" />
        <wellknown mode="SingleCall" type="DACrux.TEST.BSL.MERGER, DACrux.TEST.BSL" objectUri="DACrux.TEST.BSL.MERGER.bin" />
      </service>
    </application>
    <customErrors mode="Off" />
  </system.runtime.remoting>
  <appSettings>
    <add key="MIRACOM_DACRUX_PROBE" value="DACrux.TEST.Service.exe.config"></add>
    <add key="TEST_CONNECT_ID" value="DMSMGR"></add>
    <add key="DMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="QMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="MES_CONNECT_ID" value="BUMPMES"></add>
  </appSettings>
</configuration>