<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--INTERVAL 단위: 초-->
    <add key="INTERVAL" value="30" />
    <add key="FACTORY" value="FAB2" />
    <add key="DATA_PATH" value="c:\Miracom\EQUIP\DM\REVIEW_PARSE" />
    <add key="BACKUP_PATH" value="c:\Miracom\BACKUP\DM\REVIEW"/>
    <add key="ERROR_PATH" value="c:\Miracom\ERROR\DM\REVIEW"/>
    <add key="LOG_PATH" value="c:\Miracom\Log\DACrux.SEMDMS.Reveiw.DatㄴService" />
    <add key="REMOVE_GARBAGE_FILE_EXTENSION" value=".inf"/><!-- 삭제할 가비지 파일의 확장자 -->
    <add key="ADDITIONAL_COPY_PATH" value="C:\TEMP999" /><!--ADDITIONAL_COPY_PATH : 여러 경로 지정 가능. 세미콜론으로 구분-->
    <add key="LOG_LEVEL" value="0" />
    <add key="USE_TQC_SERVICE_LOG" value="true" />
    <add key="DMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="QMS_CONNECT_ID" value="DMSMGR"></add>
  </appSettings>
</configuration>
