<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--INTERVAL 단위: 초-->
    <add key="INTERVAL" value="30" />
    <add key="FACTORY" value="FAB2" />
    <add key="DATA_PATH" value="C:\Miracom\EQUIP\DM\INSP_PARSE" />
    <add key="BACKUP_PATH" value="C:\Miracom\BACKUP\DM\INSP" />
    <add key="REVIEW_COPY_PATH" value="C:\Miracom\EQUIP\DM\REVIEW" />
    <add key="ERROR_PATH"  value="" />
    <add key="ADDITIONAL_COPY_PATH" value="" /><!--ADDITIONAL_COPY_PATH : 여러 경로 지정 가능. 쉼표로 구분-->
    <add key="LOG_PATH" value="C:\Miracom\Log\DACrux.SEMDMS.Inspection.DataService" />
    <add key="LOG_LEVEL" value="0" />
    <add key="USE_TQC_SERVICE_LOG" value="true" />
    <add key="DMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="QMS_CONNECT_ID" value="DMSMGR"></add>
  </appSettings>
</configuration>

 