<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EXECUTE" value="D:\01_프로젝트\130701_난통후지쯔2\Source\101_AppSrvBin\DMSFileMonitor\DACrux.Semi.KtoD.exe"/>
    <add key="EQUIP_INFO_REFLASH" value="60000"/>
    <add key="RESULT_SCAN_TERM" value="3000"/>
    <add key="DMS_CONNECT_ID" value="DMSMGR"/>
    <add key="CSVPath" value="D:\TEMP\" />
    <add key="MapPath" value="C:\map\" />
    <add key="LogLevel" value="4" />
    <add key="LogPath" value="D:\YMS"/>
    <add key="UseDBPath" value="TRUE" />

    <add key="DATA_ROOT" value="D:\BUMP\PROBE\MAP" />
    <add key="PRB_File_Path" value="D:\BUMP\PROBE" />
    <add key="INCUST_File_Path" value="D:\WLP_DMS\DMS\CUST" />
    <add key="ISORT_File_Path" value="D:\WLP_DMS\DMS\PNP" />

    <add key="PRB_Path_Depth" value="0" />
    <add key="INCUST_Path_Depth" value="1" />
    <add key="ISORT_Path_Depth" value="1" />
    <add key="MapParserExe" value="\DACrux.TEST.MAPParser.exe" />

    <add key="Path" value="D:\BUMP\PROBE\MAP"></add>
    <add key="SPRPath" value="D:\BUMP\PROBE\SPR"></add>
    <add key="ExcutePath" value="D:\DACrux2015\00_SOURCE\04_PROBE\DACrux.TEST.MAPParser\bin\debug\DACRux.TEST.MAPParser.exe"></add>
    <add key="LogPath" value="D:\BUMP\PROBE\LOG"></add>
    <add key="LogLevel" value="4"></add>
    <add key="MaxProcessCount" value="30"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TEST_CONNECT_ID" value="DMSMGR"/>
    <add key="MIRACOM_DACRUX_TEST" value="DACrux.TEST.FileMonitor.exe.config"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>