<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SPRPath" value="D:\BUMP\PROBE\SPR\"/>
    <add key="MapPath" value="C:\map\"/>
    <add key="FilePath" value="C:\DIR\"/>
    <add key="ResultPath" value="D:\YMS"/>
    <add key="LogLevel" value="4"/>
    <add key="LogPath" value="D:\YMS"/>
    <add key="FormatPath" value="C:\MiracomMiddlewareNC\Service\FormatData\" />
    <add key="UseDBPath" value="TRUE"/>
    <add key="EMS_CONNECT_ID" value="EMSMGR"></add>
    <add key="QMS_CONNECT_ID" value="EMSMGR"></add>
    <add key="MES_CONNECT_ID" value="MESMGR"></add>
    <add key="TEST_CONNECT_ID" value="DMSMGR"></add>
    <add key="DMS_CONNECT_ID" value="DMSMGR"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CSVPath" value="D:\TEMP\"/>
    <add key="Sinf3D_Format_Path" value ="C:\Map\SINF3D_FORMAT.txt"/>

    <add key="DATA_ROOT" value="D:\WLP_DMS\DMS\Log" />
    <add key="PRB_File_Path" value="D:\WLP_DMS\DMS\CP" />
    <add key="INCUST_File_Path" value="D:\WLP_DMS\DMS\CUST" />
    <add key="ISORT_File_Path" value="D:\WLP_DMS\DMS\PNP" />

    <add key="PRB_Path_Depth" value="2" />
    <add key="INCUST_Path_Depth" value="1" />
    <add key="ISORT_Path_Depth" value="1" />
    <add key="MapParserExe" value="C:\Fujitsu\Source\DACrux\101_AppSrvBin\YMSFileMonitor\DACrux.TEST.MAPParser.exe" />
    
    
    <add key="SINF3D_DOWNLOAD_MAP_PATH" value="D:\DMS SERVICE\Service\Map_Format\SINF3D_FORMAT.txt"/>
    <add key="SINF3D_OUTPUT_MAP_PATH" value="D:\DMS SERVICE\Service\Map_Format\SINF3D_FORMAT.txt"/>
    <add key="MergeLogPath" value="D:\DMS SERVICE\Service\MergeLog"/>
    <add key="MergeErrorPath" value="D:\DMS SERVICE\Service\MergeLog\Error"/>
    <add key="MakeMapPath" value="D:\MAKE_MAP_FILES"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServxices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>